#character-details{
    display: flex;
    flex-wrap: wrap;
    margin: 4px;
}

#character-details .character-card {
    margin-top: 12px;
    margin-right: 4px;
}

.character-section {
    display: block;
    width: 520px;
    margin-top: 12px;
    margin: 4px;
}

#history-entries{
    vertical-align: top;
}

.history-entry{
    padding: 8px;
    margin-bottom: 4px;
    background-color: var(--card-background);
}

.history-entry textarea {
    margin: auto;
    width: 99%;
    resize: none;
}

.relationship{
    position: relative;
    height: 130px;
    overflow: hidden;
    background-color: var(--card-background);
}

.relationship-pic {
    position: absolute;
    top: -45px;
    left: -45px;
}

.relationship-text{
    position: absolute;
    left: 140px;
    display: inline-block;
    vertical-align: top;
    font-size: 1.8em;
}
.relationship-text h4{
    margin-bottom: 0px;
}

.relationship-text p{
    margin-top: 0px;
}

#stat-bonuses {
    width: 46%;
    display: inline-block;
    padding: 8px;
    padding-bottom: 20px;
    background-color: var(--card-background);
    margin: auto;
}

#personality-section {
    width: 46%;
    display: inline-block;
    padding: 8px;
    margin-right: 4px;
    padding-bottom: 20px;
    background-color: var(--card-background);
}

#stats-section table{
    width: 90%;
    background-color: var(--bio-background);
}

.company {
    background-color: var(--card-background);
    margin-bottom: 12px;
    padding: 8px;
}

.company h4 {
    padding-top: 4px;
    margin: 0px;
}

.company-friend-pic-wrapper{
    display: inline-block;
    overflow: hidden;
    width: 70px;
    height: 75px;
}

.company-friend-pic{
    width: 100px;
    margin-top: -20px;
    margin-left: -10px;
}

#aspects-section{
    width: 100%;
}

#aspect-tables{
    display: flex;
    flex-wrap: nowrap;
    padding: 12px;
    background-color: var(--card-background);
}

.aspects-table{
    width: 95%
}

#aspect-tables table {
    background-color: var(--bio-background);
    margin: 0px;
    width: 100%;
    height: 100%;
}