#character-details{
    display: flex;
    flex-wrap: wrap;
}

.character-section {
    display: block;
    width: 500px;
}

#history-entries{
    vertical-align: top;
}

.relationship{
    position: relative;
    height: 130px;
    overflow: hidden;
    background-color: var(--card-background);
    margin: 4px;
}

.relationship-pic {
    position: absolute;
    top: -45px;
    left: -45px;
}

.relationship-text{
    position: absolute;
    left: 140px;
    display: inline-block;
    vertical-align: top;
    font-size: 1.8em;
}
.relationship-text h4{
    margin-bottom: 0px;
}

.relationship-text p{
    margin-top: 0px;
}

#stat-bonuses {
    display: inline-block;
}

#personality {
    display: inline-block;
    float: right;
}

#stats-section table{
    width: 200px;
}

.company{
    background-color: var(--card-background);
    padding-left: 4px;
    margin: 4px;
}

.company h4{
    padding-top: 4px;
}

.company-friend-pic-wrapper{
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 60px;
}

.company-friend-pic{
    width: 60px;
    margin-top: -10px;
    margin-left: -10px;
}

#aspect-tables{
    display: flex;
    flex-wrap: nowrap;
}