:root{
    --warrior-head-base: -31px;
    --hunter-head-base: 30px;
    --mystic-head-base: -5px;
    --head-bob-amount: 15px;
}

#character-cards-section .character-card{
    margin: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

#all-characters {
    margin-top: 2%
}

.character-card {
    background-color: var(--card-background);
    display: inline-block;
    width: 470px;
    margin-bottom: auto;
    padding: 20px;
    padding-bottom: 40px;
    overflow: hidden;
}

.character-portrait {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    margin: auto;
    background-size: cover;
}

.warrior-portrait {
    background-color: #3f4254;
    background-image: url("images/backgrounds/warrior.jpg");
}

.hunter-portrait {
    background-color: #2f342e;
    background-image: url("images/backgrounds/hunter.jpg");
}

.mystic-portrait {
    background-color: #37313b;
    background-image: url("images/backgrounds/mystic.jpg");
}

.character-head {
   position: absolute;
   animation-duration: 1s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

.warrior-head {
  left: 26%;
  top: var(--warrior-head-base);
  animation-name: warrior-idle-head;
}

@keyframes warrior-idle-head {
  0% {top: var(--warrior-head-base);}
  100% {top: calc(var(--head-bob-amount) + var(--warrior-head-base));}
}

.hunter-head {
  left: 34%;
  top: var(--hunter-head-base);
  animation-name: hunter-idle-head;
}

@keyframes hunter-idle-head {
  0% {top: var(--hunter-head-base);}
  100% {top: calc(var(--head-bob-amount) + var(--hunter-head-base));}
}

.mystic-head {
  left: 31%;
  top: var(--mystic-head-base);
  animation-name: mystic-idle-head;
}

@keyframes mystic-idle-head {
  0% {top: var(--mystic-head-base);}
  100% {top: calc(var(--head-bob-amount) + var(--mystic-head-base));}
}

.character-body {
  position: relative;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: bottom;
  width: 100%;
  height: auto;
  margin: auto;
  bottom: 25px;
}

.warrior-body {
  animation-name: character-idle-body;
}

.hunter-body {
  animation-name: character-idle-body;
}

.mystic-body {
  left: 5px;
  animation-name: character-idle-body;
}

.character-summary{
    margin: 20px;
}

@keyframes character-idle-body {
  0% {
    transform: scaleY(1.05)
  }
  100% {}
}

.character-bio{
    background-color: var(--bio-background);
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 200px;
    overflow-y: scroll;
    word-break: normal;
}

.character-bio::-webkit-scrollbar-track {
    background: var(--bio-background);
}

.favorite-image {
    float: right;
    width: 5%;
}

.character-list-item .favorite-image{
    margin-top: 2%;
    margin-right: 2%;
}

.character-list-item {
    display: inline-block;
    background: var(--card-background);
    width: 450px;
    margin: 4px;
    padding: 4px;
}

.character-list-item-inner {
    display: inline-block;
    width: 90%;
    height: 100%;
}

.character-list-item-inner:hover {
    transform: scale(1.05);
    transform-origin: left;
}

.character-list-item-head-wrapper {
    display: inline-block;
    overflow: hidden;
    width: 70px;
    height: 75px;
}

.character-list-item-head {
    width: 100px;
    margin-top: -20px;
    margin-left: -10px;
}

.character-list-info {
    display: inline-block;
    vertical-align: top;
    width: 335px;
    overflow: hidden;
    white-space: nowrap;
}

.character-list-item h1 {
    display: inline;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 10px;
}

.character-list-item-npc {
    display: inline;
    vertical-align: top;
    margin-top: 35px;
    margin-left: 10px;
}

.character-list-summary {
    margin-left: 15px;
}

.hidden {
    display: none;
}

.visible-inline-block {
    display: inline-block;
}

.legacy-tier-image {
    display: inline;
    width: 4%;
}