
#profile-links {
    text-align: center;
}

.profile-link {
    margin: 2%;
    font-size: 190%;
}

#company-lists{
    background-color: var(--main-background);
}

#company-lists .company{
    width: 95%;
}

.count-column {
    text-align: center;
    width: inherit;
    text-align: right;
    padding-right: 3%;
}

.profile-charts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.profile-chart-wrapper {
    margin: 0px;
    width: 500px;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
}

.profile-chart {
    margin: 0 auto;
    --color-1: #94E68F;
    --color-2: #FFEEC8;
    --color-3: #B38DD5;
    --color-4: #D8660F;
    --color-5: #FFD863;
    --color-6: #38C9D5;
    --color-7: #727272;
    --color-8: #25744D;
    --color-9: #B13B3B;
    --color-10: #624FC7;

}

.profile-chart caption {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1rem;
}

.profile-chart tr {
  transition-duration: 0.3s;
}

.profile-chart tr:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.profile-chart tr:hover th {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.charts-css.bar:not(.reverse) tbody tr th {
    width: inherit;
    flex-wrap: wrap;
}

.label-image {
    width: 40px;
}

.small-label {
    --labels-size: 100px;
}

.large-label {
    --labels-size: 200px;
}

.smart-chart-wrapper {
    width: 100%;
}

#best-stat-chart {
    margin-top: 5%;
}

#best-stat-chart tbody{
    height: calc(80% - var(--heading-size));
}

#weapon-unlocks {

}

.fire-unlock{
    background-color: #D8660F;
}

.leaf-unlock{
    background-color: #94E68F;
}

.stone-unlock{
    background-color: #727272;
}

.water-unlock{
    background-color: #38C9D5;
}