#log-button {
    float: right;
}

#snapshot-span {
    margin-left: 20px;
}

#snapshot-select {
    margin-left: 20px;
}

#character-details{
    display: flex;
    flex-wrap: wrap;
    margin: 4px;
}

#character-details .character-card {
    display: block;
    margin-top: 12px;
    margin-right: 4px;
}

.character-section {
    display: block;
    width: 520px;
    margin-top: 12px;
    margin: 4px;
}

#custom-history-entries{
    vertical-align: top;
}

.custom-history-entry{
    padding: 8px;
    margin-bottom: 4px;
    background-color: var(--card-background);
}

.custom-history-entry textarea {
    margin: auto;
    width: 99%;
    resize: none;
    word-break: normal;
}

#game-history-wrapper {
    background-color: var(--card-background);
    padding: 8px;
    margin-bottom: 4px;
}

#game-history-inner {
    background-color: var(--bio-background);
    padding: 4px;
}

.game-history-entry {
    word-break: normal;
}

#full-history-entries {
    width: 100%;
}

#full-history-columns {
    display: flex;
}

.full-history-column {
    width: 50%;
}

#full-history-column-left {
    margin-right: 10px;
}

#full-history-column-right {
    margin-left: 10px;
}

.full-history-entry {
    padding: 8px;
    margin-bottom: 4px;
    background-color: var(--card-background);
}
.full-history-entry-inner {
    padding: 4px;
    background-color: var(--bio-background);
}

.relationship{
    position: relative;
    height: 130px;
    overflow: hidden;
    background-color: var(--card-background);
    margin-bottom: 4px;
}

.relationship-header:hover {
    transform: scale(1.2);
    transform-origin: left;
}

.relationship-inner{
    height: 100%;
}

.relationship-inner:hover{
    transform: scale(1.05);
    transform-origin: left;
}

.relationship-pic {
    position: absolute;
    top: -45px;
    left: -45px;
}

.relationship-text{
    position: absolute;
    left: 140px;
    display: inline-block;
    vertical-align: top;
    font-size: 1.8em;
}
.relationship-text h4{
    margin-bottom: 0px;
    display: inline-block;
}
.relationship-rank {
    display: inline-block;
    margin-left: 10px;
    font-size: .5em;
}

.relationship-text p{
    margin-top: 0px;
    margin-bottom: 10px;
}

#stats-section {
    margin: 0px;
    margin-top: 4px;
}

#stat-bonuses {
    width: 46%;
    display: inline-block;
    padding: 8px;
    padding-bottom: 20px;
    background-color: var(--card-background);
    margin: auto;
}

#personality-section {
    width: 46%;
    display: inline-block;
    padding: 8px;
    margin-right: 4px;
    padding-bottom: 20px;
    background-color: var(--card-background);
}

#stats-section table{
    width: 90%;
    background-color: var(--bio-background);
}

#misc-stats {
    padding: 8px;
    margin-top: 4px;
    padding-bottom: 20px;
    background-color: var(--card-background);
}

.company {
    background-color: var(--card-background);
    margin-bottom: 12px;
    padding: 8px;
}

.company h4 {
    padding-top: 4px;
    margin: 0px;
    display: inline-block;
}

.company-foe {
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
}

.company-friend-pic-wrapper{
    display: inline-block;
    overflow: hidden;
    width: 70px;
    height: 75px;
}

.company-friend-pic{
    width: 100px;
    margin-top: -20px;
    margin-left: -10px;
}

.company-friend-pic:hover{
    scale: 1.1;
}

.two-column-section{
    width: 100%;
}

.column-tables{
    display: flex;
    flex-wrap: nowrap;
    padding: 12px;
    background-color: var(--card-background);
}

.column-table{
    width: 95%
}

.column-tables table {
    background-color: var(--bio-background);
    margin: 0px;
    width: 100%;
    height: 100%;
}

.gear {
    background-color: var(--card-background);
    padding: 8px;
    margin: 4px;
}

.gear-details {
    background-color: var(--bio-background);
    padding: 4px;
}

.item-id {
    font-size: .8em;
    margin-top: 4px;
}

.compatibility-row {
    background-color: var(--card-background);
    margin-bottom: 12px;
    padding: 8px;
}

.compatibility-label {
    display: inline;
}

.compatibility-image {
    width: 20px;
    margin-left: 10px;
}

.tag-label{
    margin-right: 10px;
}
