.character-section {
    display: inline-block;
    width: 500px;
}

#history-entries{
    vertical-align: top;
}

.relationship{
    position: relative;
    height: 130px;
    overflow: hidden;
    background-color: var(--card-background);
    margin: 4px;
}

.relationship-pic {
    position: absolute;
    top: -45px;
    left: -45px;
}

.relationship-text{
    position: absolute;
    left: 140px;
    display: inline-block;
    vertical-align: top;
    font-size: 1.8em;
}
.relationship-text h4{
    margin-bottom: 0px;
}

.relationship-text p{
    margin-top: 0px;
}