:root{
    --warrior-head-base: -31px;
    --hunter-head-base: 30px;
    --mystic-head-base: 0px;
}

#character-cards-section .character-card{
    margin: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

.character-card {
    background-color: var(--card-background);
    display: inline-block;
    width: 470px;
    margin-bottom: auto;
    padding: 20px;
    padding-bottom: 40px;
    overflow: hidden;
}

.character-portrait {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.warrior-portrait {
    background-color: #3f4254;
}

.hunter-portrait {
    background-color: #2f342e;
}

.mystic-portrait {
    background-color: #37313b;
}

.character-head {
   position: absolute;
   animation-duration: 1s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

.warrior-head {
  left: 26%;
  top: var(--warrior-head-base);
  animation-name: warrior-idle-head;
}

@keyframes warrior-idle-head {
  0% {top: var(--warrior-head-base);}
  100% {top: calc(15px +var(--warrior-head-base));}
}

.hunter-head {
  left: 34%;
  top: var(--hunter-head-base);
  animation-name: hunter-idle-head;
}

@keyframes hunter-idle-head {
  0% {top: var(--hunter-head-base);}
  100% {top: calc(15px +var(--hunter-head-base));}
}

.mystic-head {
  left: 31%;
  top: var(--mystic-head-base);
  animation-name: mystic-idle-head;
}

@keyframes mystic-idle-head {
  0% {top: var(--mystic-head-base);}
  100% {top: calc(15px +var(--mystic-head-base));}
}

.character-body {
  position: relative;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: bottom;
  width: 100%;
  height: auto;
  margin: auto;
  bottom: 25px;
}

.warrior-body {
  animation-name: character-idle-body;
}

.hunter-body {
  animation-name: character-idle-body;
}

.mystic-body {
  left: 5px;
  animation-name: character-idle-body;
}

.character-summary{
    margin: 20px;
}

@keyframes character-idle-body {
  0% {
    transform: scaleY(1.05)
  }
  100% {}
}

.character-bio{
    background-color: var(--bio-background);
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 200px;
    overflow-y: scroll;
}

.character-bio::-webkit-scrollbar-track {
    background: var(--bio-background);
}