
@media (max-aspect-ratio: 3/4) {
    :root{
        --head-bob-amount: 35px;
    }

    body, textarea, table{
        font-size: 1.4em;
    }

    textarea {
        height: 250px;
    }

    .character-card {
        display: block;
        width: 90%;
        margin: 2%;
        margin-bottom: 50px;
        padding: 2%;
    }

    .character-portrait {
        height: 850px;
    }

    .character-head {
        width: 40%;
    }

    .hunter-head {
      left: 36%;
    }

    .hunter-body {
      bottom: 65px;
    }

    .character-bio{

    }

    .character-section {
        width: 90%;
        margin: 2%;
    }

    .details-subsection{
        width: 100%;
    }

    #aspect-tables{
        flex-wrap: wrap;
    }

    #full-history-columns{
        flex-wrap: wrap;
    }

    .full-history-column {
        width: 100%;
    }

    .character-list-item {
        width: 95%;
    }
}