
@media (max-aspect-ratio: 3/4) {
    :root{
        --head-bob-amount: 35px;
    }

    body, textarea, table{
        font-size: 1.4em;
        word-break: break-all;
    }

    textarea {
        height: 250px;
    }

    #character-details {
        overflow: hidden;
    }

    .character-card {
        display: block;
        width: 100%;
        margin: 2%;
        margin-bottom: 50px;
        padding: 2%;
    }

    .character-portrait {
        height: 950px;
    }

    .character-bio{
        height: 350px;
    }

    .character-head {
        width: 40%;
    }

    .hunter-head {
      left: 36%;
    }

    .hunter-body {
      bottom: 65px;
    }

    .character-section {
        width: 100%;
    }

    .details-subsection{
        width: 100%;
    }

    #aspect-tables table {
        font-size: 1.5em;
        table-layout: fixed;
    }

    #aspect-tables table {
        word-break: break-all;
    }

    #aspect-tables{
        flex-wrap: wrap;
        width: 100%;
        overflow: scroll;
    }

    #full-history-columns{
        flex-wrap: wrap;
    }

    .full-history-column {
        width: 100%;
    }

    .character-list-item {
        width: 95%;
    }

    .character-list-info {
        width: inherit;
    }

    #log-button{
        display: none;
    }

    #full-history-column-right {
        margin-left: 0px;
    }

}