#relationship-network-section {
    position: relative;
    margin-top: -20px;
}

#network-nav{
    position: absolute;
    top: 0px;
}

.network-image {
    width: 5%;
    margin-left: 10px;
}

#relationship-network-canvas {
    height: 95vh;
}