:root {
  --background: #dac8a4;
  --card-background: #aa8960;
  --bio-background: #ebdbb8;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--bio-background);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--card-background);
}

body {
  background-color: var(--background);
}

h1 {
    margin: 2px;
}

button {
  background-color: var(--card-background);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover{
  background-color: var(--bio-background);
}

input::file-selector-button {
  background-color: var(--card-background);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

textarea{
    width: 500px;
    height: 100px;
    background-color: var(--bio-background);
}

#nav table{
    width: 100%;
    text-align: center;
}

#clear-button {
  float: right;
}

#import-section {
  margin-left: 1%
}

#import-input {
  margin-left: 38%
}

@media (max-width: 1000px) {
    ::-webkit-scrollbar-track {
      background: var(--bio-background);
    }
    .character-card {
        display: block;
        width: 90%;
        margin: 2%;
        margin-bottom: 50px;
        padding: 2%;
    }

    .character-portrait {
        width: 100%;
        height: 800px;
    }

    .character-head {
        width: 40%;
    }

    .hunter-head {
      left: 36%;
    }

    .hunter-body {
      bottom: 65px;
    }

    .character-bio{
      font-size: 1.8em;
    }
}